{% extends 'base.html.twig' %}

{% block title %}Mettre à un jour un évènement{{live.id}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
{% endblock %}

{% block body %}
<main class="container">
		<div class="row  justify-content-center">
			<div class="col-10 text-center">
				<a href="{{ path('app_login') }}" class="navbar-brand">
					<img src="{{ asset('assets/img/') }}" alt="">
				</a>
				<h1 class="titre_form">Mettre à jour un évènement</h1>
				<p>Indiquez tous les détails concernant <span class="font-weight-bold">l'évènement</span> que vous souhaitez promouvoir (nom d'artiste, date de la sortie...)</p>
				<p class="font-italic mb-2">Les champs indiqués par une champs * sont obligatoires</p>
				{% for label, messages in app.flashes %}
					<div class="alert alert-{{ label }}">
						{% for message in messages %}
							{{ message|raw }}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<form
				class="col-10 col-xl-6" id="inscrpition-form" name="inscription-form" method="post" enctype="multipart/form-data">                                  
                        {# INPUT 1 : Artiste #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class=" fa-fw fa fa-user"></i></span>
                            </div>
                            <input type="text" id="artist" name="artist" placeholder="Nom de l'artiste" class="form-control" value="{{  safe.artist ?? live.artist ?? '' }}" required autofocus>
                        </div>

                        {# SELECT 1 : Genre #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fa fa-volume-up"></i></span>
                            </div>
                            <select id="genre" name="genre" class="custom-select">
                                <option value="">--* Sélectionnez un genre musical --</option>
                                {% for genre in genres %}
                                <option value="{{ genre.genreName }}" {{ ((safe.genre is defined and safe.genre == genre.genreName) or (live.genre == genre.genreName )) ? 'selected' : ''  }}>{{ genre.genreName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        {# SELECT 2 : Sous-genre #}
                         <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fa fa-volume-down"></i></span>
                            </div>
                            <select type="text" id="subgenre" name="subgenre" class="custom-select" data-subgenre="{{ safe.subgenre ?? live.subgenre }}" disabled>
                                <option value="">-- Sélectionnez un sous genre --</option>
                            </select>
                        </div>

                        {# INPUT 2 : Image #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-images"></i></span>
                            </div>
                            <div class="custom-file">
                                <input type="file" id="image" name="image" placeholder="Ajouter une image" class="form-control">
                            </div>
                        </div>

                        {# SELECT 3 : type #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-music"></i></span>
                            </div>
                            <select type="text" id="live_type" name="live_type" class="custom-select">
                                <option value=''>-- * Concert, Showcase, Festival, Release Party</option>
                                <option value="Concert" {{ (live.liveType == 'Concert' ) ? 'selected' }}>Concert</option>
                                <option value="Showcase" {{ (live.liveType == 'Showcase' ) ? 'selected' }}>Showcase</option>
                                <option value="Festival" {{ (live.liveType  == 'Festival' ) ? 'selected' }} >Festival</option>
                                <option value="Release Party" {{ (live.liveType  == 'Release Party' ) ? 'selected' }}>Release Party</option>
                            </select>
                        </div>

                        {# INPUT 3 : live #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-guitar"></i></span>
                            </div>
                            <input type="text" id="live_name" name="live_name" placeholder="Nom du live" class="form-control" value="{{  safe.liveName ?? live.liveName ?? '' }}">
                        </div>

                        {# INPUT 4 : Date #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw far fa-calendar-alt"></i></span>
                            </div>
                            <input type="date" id="live_date" name="live_date" placeholder="Date du live" class="form-control" value="{{  safe.liveDate ?? live.dateLive ?? '' }}">
                        </div>

                        {# INPUT 4 bis (matthieu : oubli) : Date #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-clock"></i></span>
                            </div>
                            <input type="time" id="schedule" name="schedule" class="form-control" value="{{ input_saisis.shedule ?? '' }}">
                        </div>
                        

                        {# INPUT 5 : price #}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                            </div>
                            <input type="price" id="price" name="price" placeholder="Prix" class="form-control" value="{{  safe.price ?? live.price ?? '' }}">
                        </div>

                        {# TEXTAREA 2 : Description #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-ticket-alt"></i></span>
                            </div>
                            <textarea type="text" id="description" name="description" placeholder="Description" class="form-control">{{  safe.description ?? live.description ?? '' }}</textarea></br>
                        </div>

                        {# INPUT 6 : ticket #}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">url ticket/</span>
                            </div>
                            
                            <input type="text" id="ticket" name="ticket" class="form-control" placeholder="https://www.digitick.com/..." aria-describedby="basic-addon3"  value="{{  safe.ticket ?? live.ticket ?? '' }}">
                        </div>

                        {# INPUT 5 : Lien Facebook #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">http://www.facebook.fr/</span>
                            </div>
                            
                            <input type="text" id="fb" name="fb" class="form-control" aria-describedby="basic-addon3" value="{{  safe.fb ?? live.facebook ?? '' }}"></br>
                        </div>

                        {# INPUT 6 : Lien Insta #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">http://www.instagram.fr/</span>
                            </div>
                            <input type="text" id="ig" name="ig" class="form-control" value="{{  safe.ig ?? live.instagram ?? '' }}">
                        </div>

                        {# INPUT 6 bis (matthieu : oublie) : Lien Twitter #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">http://www.twitter.fr/</span>
                            </div>
                            <input type="text" id="twitter" name="twitter" class="form-control" value="{{  safe.twitter ?? live.twitter ?? '' }}">
                        </div>

                        {# INPUT 6 ter (matthieu : oublie) : Lien YT #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">http://www.youtube.fr/watch?v=</span>
                            </div>
                            <input type="text" id="yt" name="yt" class="form-control" value="{{  safe.youtube ?? live.youtube ?? '' }}">
                        </div>

                        {# INPUT 7 : Lien SoundCloud #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">http://www.soundcloud.fr/</span>
                            </div>
                            <input type="text" id="soundcloud" name="soundcloud" class="form-control" aria-describedby="basic-addon3" value="{{  safe.soundcloud ?? live.soundcloud ?? '' }}">
                        </div>

                        {# INPUT 8 : Lien Deezer #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">http://www.deezer.fr/</span>
                            </div>
                            <input type="text" id="deezer" name="deezer" class="form-control" aria-describedby="basic-addon3" value="{{  safe.deezer ?? live.deezer ?? '' }}">
                        </div>

                        {# INPUT 9 : Lien spotify #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  font-italic">http://www.spotify.com/embed/artist/</span>
                            </div>
                            <input type="text" id="spotify" name="spotify" class="form-control" aria-describedby="basic-addon3" value="{{  safe.spotify ?? live.spotify ?? '' }}">
                        </div>
                        {# LUCKIAN INPUT 5 : Adresse #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-map-marked-alt"></i></span>
                            </div>
                            <input type="text" id="address" name="address" placeholder="Indiquez l'adresse" class="form-control" value="{{ input_saisis.address ?? '' }}">
                        </div>
                        
                        {# LUCKIAN INPUT 7 : Postcode #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-map-pin"></i></span>
                            </div>
                            <input type="text" id="postcode" name="postcode" placeholder="Indiquez le code postal" class="form-control" value="{{ input_saisis.postcode ?? '' }}">
                        </div>

                        {# LUCKIAN INPUT 6 : Ville #}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-fw fas fa-city"></i></span>
                            </div>
                            <input type="text" id="ville" name="ville" placeholder="Indiquez la ville" class="form-control" value="{{ input_saisis.ville ?? '' }}">
                        </div>

                        <div class="pt-4 text-center">
                            <button name="button" class="btn" id="searchAddr">Valider l'adresse</button>
                        </div>

                        <div class="d-none" id="detailsMap"></div>
                     
                        {# LUCKIAN INPUT 8 : Latitude #}
                        <div class="input-group mb-3">
                            
                            <input type="hidden" id="latitude" name="latitude" placeholder="Latitude" class="form-control"   value="{{ input_saisis.latitude ?? '' }}" readonly>
                        </div>
                         {# LUCKIAN INPUT 9 : Longitude #}
                        <div class="input-group mb-3">
                            
                            <input type="hidden" id="longitude" name="longitude" placeholder="Longitude" class="form-control"   value="{{ input_saisis.longitude ?? '' }}" readonly>
                        </div>
                        <input type="hidden" name="_csrf_token">

                        <div class="pt-4 text-center">
                            <button class="btn" type="submit">Envoyer</button>
                        </div>
                        <div class="status"></div>
        </form>
    </div>
</main>

{% endblock %}


{% block js %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>
<script>
 $(document).ready(function(){

    loadSubGenres();

    $('#genre').change(function(){
        loadSubGenres(); // Appel de la fonction qui charge les sous genres
    });

});


function loadSubGenres(){
    selectedGenre = $('#genre').val(); // Valeur du genre sélectionné

    console.log(selectedGenre);

    $('#subgenre').html('<option value="">-- Sélectionnez --</option>').prop('disabled', true);

    var currentSubgenre = $('#subgenre').data('subgenre'); // Récupère l'attribut data

    //console.log(resultatJSON);

    $.post('{{ path('live_subgenre_ajax') }}', {genre: selectedGenre} , function(resultatJSON){
        // resultatJSON contient le tableau de la méthode ajaxSubGenres()
        var optionSelectHTML = '';

        $.each(resultatJSON, function(key, value) {
            // @axel Si tout va bien, key => l'id en BDD
            // @axel value le nom du sous genre

            if(currentSubgenre == value){ // pour le chargement des données sql
                optionSelectHTML+= '<option value="'+key+'" selected>'+value+'</option>';
            }
            else if(currentSubgenre == key){ // Pour le post
                optionSelectHTML+= '<option value="'+key+'" selected>'+value+'</option>';
            }
            else {
                optionSelectHTML+= '<option value="'+key+'">'+value+'</option>';
            }
            

            
        }); 

        // @axel: fonction jquery equivalent a innerHTML
        $('#subgenre').html(optionSelectHTML).prop('disabled', false);


    });
}

</script>
{% endblock %}
